.loginForm {
  border: 1px solid red;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    border: 1px solid blue;
    width: 300px;
    height: 200px;
    padding: 10px;

    .raw-form {
      margin: 20px 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    label {
      width: 100px;
    }

    input {
      width: 160px;
      height: fit-content;
    }
  }
}




.err {
  color: red;
  input {
    border: 1px solid red;
  }
}
